<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/main.css"/>
  <title>Proyecto 1 | Redes</title>
</head>
<body>
<div id="main-conteiner">
    <header>
      <div id="top">
        <h1 class="Title"><img src="../static/img/logo.png" alt="logo">Proyecto 1 | Redes</h1>
      </div>
    </header>
        <ul class="sidenav">
          <li><a class="active" href="#home">Home</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#about">About</a></li>
        </ul>
    <div class="login-page">
      <div class="form">
        <form class="register-form">
            <h2>Register</h2>
            <input type="text" placeholder="email address"/>
            <input type="password" placeholder="password"/>
            <input type="passwordConf" placeholder="confirm password"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
    </div>
  </div>
</div>
</body>
</html>